<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%=@nombre%></h1>
    <p>
      Nombre: <%= @nombre %>.<br>
    </p>
    <p>
      Apellido: <%=@apellido%>.<br>
    </p>
    <p>
      Correo: <%=@correo%>.<br>
    </p>
    <p>
      Telefono: <%=@telefono%>.<br>
    </p>
    <p>
      Comentarios: <%=@comentarios%>.<br>
    </p>
    <p>
      Empresa: <%=@empresa%>.<br>
    </p>
    <p>
      Cargo: <%=@cargo%>.<br>
    </p>
  </body>
</html>