<%= form_for :post do |f| %>
  <p>
    <%= f.label :Nombres %> <%= f.text_field :nombres, placeholder: "Ingrese sus nombres" %>
  </p>

  <p>
    <%= f.label :Apellidos %>    <%= f.text_field :apellido, placeholder: "Ingrese sus apellidos"  %>
  </p>

  <p>
    <%= f.label :Email %>    <%= f.text_field :email, placeholder: "Ingrese su email"  %>
  </p>
    <p>
    <%= f.label :Email %><br>
    <%= f.text_area :email, placeholder: "Ingrese su email"  %>
  </p>

  <p>
    <%= f.submit value: "Enviar"%>
  </p>

<% end %>

  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1994.8959013943659!2d-78.491639!3d-0.208895!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a10d08294c9%3A0x9d08efdf45750619!2sVicente+Ram%C3%B3n+Roca+%26+Ave+12+de+Octubre%2C+Quito+170143%2C+Ecuador!5e0!3m2!1ses!2sve!4v1517690181670" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>