<div class="contacto">
	<div class="formulario">
	<%=form_tag(:method => "post") do%>
	<h2>Contacto</h2>
	<br>
	<section>
	<%= label_tag :nombre, "Nombre:" %>
	<%= text_field_tag :nombre%>
	<%= label_tag :apellido, "Apellido:" %>
	<%= text_field_tag :apellido %>
	<%= label_tag :correo, "Correo Electrónico:" %>
	<%= text_field_tag :correo%>
	<%= label_tag :telefono, "Teléfono:" %>
	<%= text_field_tag :telefono %>
	<%= label_tag :comentarios, "Comentarios:" %>
	<%= text_area_tag :comentarios%>
	<br>
	<%= submit_tag "Enviar" %>
	</section>
	<% end %>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.4479187416142!2d-78.49189901901653!3d-0.2093978624348636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a10d08294c9%3A0x9d08efdf45750619!2sAve+12+de+Octubre+%26+Vicente+Ram%C3%B3n+Roca%2C+Quito+170143%2C+Ecuador!5e0!3m2!1ses!2sve!4v1504408989859" width="600" height="450" frameborder="0" style="border:0" allowfullscreen="" id="mapa"></iframe>
</div>
<br>