	<div class="formularioCotizaciones	">
	<%= form_tag do%>
	<h2>Cotizaciones</h2>
	<br>
	<section>
	<%= label_tag :nombre, "Nombre:" %>
	<%= text_field_tag :nombre%>
	<%= label_tag :apellido, "Apellido:" %>
	<%= text_field_tag :apellido %>
	<%= label_tag :empresa, "Empresa:" %>
	<%= text_field_tag :empresa %>
	<%= label_tag :cargo, "Cargo:" %>
	<%= text_field_tag :cargo %>
	<%= label_tag :ruc, "Ruc:" %>
	<%= text_field_tag :ruc %>
	<%= label_tag :direccion, "Dirección:" %>
	<%= text_field_tag :direccion %>
	<%= label_tag :correo, "Correo Electrónico:" %>
	<%= text_field_tag :correo%>
	<%= label_tag :telefono, "Teléfono:" %>
	<%= text_field_tag :telefono %>
	<%= label_tag :comentarios, "Comentarios:" %>
	<%= text_area_tag :comentarios %>
	<br>
	<%= file_field_tag :archivo%>
	<br>
	<%= submit_tag "Enviar" %>
	</section>
	<% end %>
</div>
<br>