<%= link_to controller: "product", action:"tecnologia" do %>
	<%= image_tag "tecnologia.png", class:"categorias"%><br>
	<h3>Tecnologia</h3><br>
<%end%>
<hr>
<%= link_to controller: "product", action:"suministros_de_oficina" do %>
	<%= image_tag "suministros_oficina.jpg", class:"categorias"%><br>
	<h3 class="categorias">Suministros de oficina</h3><br>
<%end%>
<hr>
<%= link_to controller: "product", action:"papeleria" do %>
	<%= image_tag "papeleria_productos.jpg", class:"categorias"%><br>
	<h3>Papelería</h3><br>
<%end%>
<hr>
<%= link_to controller: "product", action:"arte_arquitectura_diseno" do %>
<%= image_tag "arte.png", class:"categorias"%><br>
<h3>Arte/Diseño/Arquitectura</h3><br>
<%end%>
<hr>
<%= image_tag "ferreteria.png", class:"categorias"%><br>
<h3>Ferretería</h3><br>